@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    background: var(--light-gray);
}

.card{
    margin: 20vh auto;
    width: 22%;
    height: min-content;

    border-radius: 1em;
    background-color: var(--white);
    
    display:flex;
    flex-flow: column;
    align-items:center;
    text-align: center;
}

.card__image{
    width: 100%;
    margin: 1em auto 0.5em auto;
    border-radius: 1em;
    width: 90%;
}
.card__text{
    padding: 0.5em 1em;
    margin:0;
}
.card__text__text{
    color:var(--grayish-blue);
    width: 80%;
    padding-top: 0.5em;
    margin-bottom: 2em;
}

.card__text__title{
    color: var(--dark-blue);
}

@media (max-width: 70em) {
    div{
        width: 90%;
    }
}
